*{
	margin: 0;
	padding: 0;
	/* 清除列表标签的默认样式 */
	list-style: none;
}
a{
	color: #000;
	/*清除文字下划线*/
	text-decoration: none;
}
.guanggao{
	width: 100%;
	height: 120px;
	background-image: url("img/banner.png");
	background-position: center;
}
.nav{
	width: 100%;
	height: 40px;
	background-color: #333333;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
}
.neikuan{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.nav .neikuan a:hover{
	color: #fff;
}
.nav .neikuan .left{
	width: 470px;
	height: 100%;
	float: left;
}
.nav .neikuan .right{
	width: 300px;
	height: 100%;
	float: right;
}
.nav .neikuan .right .cart:hover{
	color: #ff6700;
	background: #fff;
}
.nav .neikuan a{
	color: #b0b0b0;
	margin-left: 7px;
	margin-right: 7px; 
}
.nav .neikuan span{
	color: #423c37;
}
.nav .neikuan .right .cart{
	width: 120px;
	height: 100%;
	background: #424242;
	display: inline-block;
	text-align: center;
	float: right;
}
.nav .neikuan .right .cart .tt{
	/* background: red; */
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
}
.nav .neikuan .right .cart .tt i{
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	display: block;
}
.nav .neikuan .left .zuo{
	margin-left: 0px;
}
.nianhuo{
	width: 100%;
	height: 100px;
}
.nianhuo .logo{
	width: 55px;
	height: 100%;
	float: left;	
}
.nianhuo .nianhuotu{
	width: 172px;
	height:100%;
	float: left;
	background-image: url("img/PClogo3.gif");
	background-repeat: no-repeat;
	background-position: center;
}
.nianhuo .daohang{
	width: 632px;
	height: 100%;
	float: left;
	line-height: 100px;
	margin-left: 18px;
}
.nianhuo .neikuan .daohang a:hover{
	color: #ff6700;
}
.nianhuo .search{
	width: 297px;
	height: 100%;
	float: right;
}
.nianhuo .logo .sekuai{
	width: 55px;
	height: 55px;
	background: #ff6700;
	margin-top: 22px;
	background-image: url("img/mi-logo.png");
	background-position: center;
}
.nianhuo .daohang a{
	color: #333;
	font-size: 16px;
	margin-right: 16px;
}
.nianhuo .search{
	width: 298px;
	height: 48px;
	border: 1px solid #e0e0e0;
	margin-top: 25px; 
}
.search .sousuokuang{
	width: 50px;
	height: 50px;
	border-left: 2px solid #d7d7d7;
	float: right;
	text-align: center;
	line-height: 50px;
	color: #616161;
}
.nianhuo .neikuan .search .sousuokuang:hover{
	background: #ff6700;
}
.search .sousuokuang i{
	font-size: 20px;
}
.banner{
	width: 100%;
	height: 460px;
}
.banner .neikuan img{
	width: 100%;
	height: 100%;
}
.banner .neikuan .list{
	width: 235px;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left:0px;
}
.banner .neikuan .list .icon-zuoyoujiantou{
	color: #C5C5C5;
	position: absolute;
	top:20px;
	left: 190px;
	font-size: 24px;
	z-index: 100;
}
.banner .neikuan .list .jian2{
	color: #C5C5C5;
	position: absolute;
	top:64px;
	left: 190px;
	font-size: 24px;
}
.banner .neikuan .list .jian3{
	color: #C5C5C5;
	position: absolute;
	top:104px;
	left: 190px;
	font-size: 24px;
}
.banner .neikuan .list .jian4{
	color: #C5C5C5;
	position: absolute;
	top:144px;
	left: 190px;
	font-size: 24px;
}
.banner .neikuan .list .jian5{
	color: #C5C5C5;
	position: absolute;
	top:188px;
	left: 190px;
	font-size: 24px;
}
.banner .neikuan .list .jian6{
	color: #C5C5C5;
	position: absolute;
	top:230px;
	left: 190px;
	font-size: 24px;
}
.banner .neikuan .list .jian7{
	color: #C5C5C5;
	position: absolute;
	top:270px;
	left: 190px;
	font-size: 24px;
}
.banner .neikuan .list .jian8{
	color: #C5C5C5;
	position: absolute;
	top:314px;
	left: 190px;
	font-size: 24px;
}
.banner .neikuan .list .jian9{
	color: #C5C5C5;
	position: absolute;
	top:356px;
	left: 190px;
	font-size: 24px;
}
.banner .neikuan .list .jian0{
	color: #C5C5C5;
	position: absolute;
	top:398px;
	left: 190px;
	font-size: 24px;
}
.banner .neikuan .list ul{
	width: 100%;
	height: 420px;
	/* background: red; */
	margin-top: 20px;
}
.banner .neikuan .list ul li{
	width: 235px;
	height: 42px;
	
}
.banner .neikuan .list ul li:hover{
	background: #ff6700;
}
.banner .neikuan .list ul li a{
	display: block;
	width: 205px;
	height: 42px;
	color: #fff;
	line-height: 42px;
	padding-left: 30px;
}
.banner .neikuan .leftbtn{
	width: 41px;
	height: 69px;
	background-image: url("img/1.png");
	background-position: 83px;
	position: absolute;
	top: 215px;
	left: 235px;
}
.banner .neikuan .leftbtn:hover{
	background-position: 165px;
}
.banner .neikuan .rightbtn{
	width: 41px;
	height: 69px;
	background-image: url("img/1.png");
	background-position: 207px;
	position: absolute;
	top: 215px;
	right: 0;
}
.banner .neikuan .rightbtn:hover{
	background-position: -207px;
}
.banner .neikuan .bannerdot{
	width: 126px;
	height: 12px;
	position: absolute;
	right: 35px;
	bottom: 23px;
}
.banner .neikuan .bannerdot .dot{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #992f2e;
	border: 2px solid #b86f6d;
	float: left;
	margin-left: 12px;
}
.banner .neikuan .bannerdot .dot:hover{
	background: #fff;
}
.tuijian {
	width: 100%;
	height: 170px;
	margin-top: 13px;
}
.tuijian .neikuan{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.tuijian .neikuan .box{
	width: 316px;
	height: 100%;
	float: left;
	margin-left: 14px;
}
.tuijian .neikuan .boxa{
	width: 74px;
	height: 74px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	border-bottom: 1px solid #685f58;
	border-right: 1px solid #685f58;
}
.tuijian .neikuan .boxb{
	width: 74px;
	height: 74px;
	float: left;
	margin-top: 10px;
	margin-left: 0px;
	border-bottom: 1px solid #685f58;
	border-right: 1px solid #685f58;
}
.tuijian .neikuan .boxc{
	width: 74px;
	height: 74px;
	float: left;
	margin-top: 10px;
	margin-left: 0px;
	border-bottom: 1px solid #685f58;
}
.tuijian .neikuan .boxd{
	width: 74px;
	height: 74px;
	float: left;
	margin-left: 5px;
	border-right: 1px solid #685f58;
}
.tuijian .neikuan .boxe{
	width: 74px;
	height: 74px;
	float: left;
	margin-left: 0;
	border-right: 1px solid #685f58;
}
.tuijian .neikuan .boxf{
	width: 74px;
	height: 74px;
	float: left;
	margin-left: 0;
}
.tuijian .neikuan .box i{
	width: 25px;
	height: 25px;
	font-size: 25px;
	color: #cec8ca;
	margin-left: 24px;
	margin-top: 10px;
	display: block;
}
.tuijian .neikuan .box .zi{
	height: 12px;
	font-size: 12px;
	text-align: center;
	margin-top: 6px;
	color: #cec8ca;
}
.tuijian .neikuan .box1{
	width: 236px;
	background: #5f5750;
	margin-left: 0;
}
.tuijian .neikuan .box4{
	margin-right: 0;
}
.tuijian .neikuan .box2{
	background-image: url("img/1.jpg");
	background-size: cover;
}
.tuijian .neikuan .box3{
	background-image: url("img/2.jpg");
	background-size: cover;
}
.tuijian .neikuan .box4{
	background-image: url("img/3.jpg");
	background-size: cover;
}
.tuijian .neikuan .boxa:hover .zi{
	color: white;
}
.tuijian .neikuan .boxa:hover .iconfont{
	color: white;
}
.tuijian .neikuan .boxb:hover .zi{
	color: white;
}
.tuijian .neikuan .boxb:hover .iconfont{
	color: white;
}
.tuijian .neikuan .boxc:hover .zi{
	color: white;
}
.tuijian .neikuan .boxc:hover .iconfont{
	color: white;
}
.tuijian .neikuan .boxd:hover .zi{
	color: white;
}
.tuijian .neikuan .boxd:hover .iconfont{
	color: white;
}
.tuijian .neikuan .boxe:hover .zi{
	color: white;
}
.tuijian .neikuan .boxe:hover .iconfont{
	color: white;
}
.tuijian .neikuan .boxf:hover .zi{
	color: white;
}
.tuijian .neikuan .boxf:hover .iconfont{
	color: white;
}
.tuijian .neikuan .box2:hover{
	box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
}
.tuijian .neikuan .box3:hover{
	box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
}
.tuijian .neikuan .box4:hover{
	box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
}
.danpin{
	width: 100%;
	height: 380px;
	margin-top: 45px;
	margin-bottom: 40px;
}
.danpin .neikuan .top{
	width: 100%;
	height: 40px;
}
.danpin .neikuan .bottom{
	width: 100%;
	height: 340px;
}
.danpin .neikuan .top .title{
	width: 144px;
	height: 100%;
	font-size: 20px;
	color: #333;
	float: left;
}
.danpin .pre{
	width: 34px;
	height: 22px;
	border: 1px solid #dfdfdf; 
	position: absolute;
	right: 35px;
	top: 5px;
	text-align: center;
	line-height: 22px;
	color: #adadad;
}
.danpin .next{
	width: 34px;
	height: 22px;
	border: 1px solid #dfdfdf; 
	border-left: none;
	position: absolute;
	right: 0;
	top: 5px;
	text-align: center;
	line-height: 22px;
	color: #dfdfdf;
}
.danpin .neikuan .bottom .list{
	width: 234px;
	height: 338px;
	background: #fafafa;
	float: left;
	margin-right: 14px;
	border-top: 1px solid #00c0a5;
}
.danpin .neikuan .bottom .list5{
	margin-right: 0;
}
.danpin .neikuan .bottom .list:nth-child(1){
	border-top-color: #ffac13;
}
.danpin .neikuan .bottom .list:nth-child(2){
	border-top-color: #83c44e;
}
.danpin .neikuan .bottom .list:nth-child(3){
	border-top-color: #2196f3;
}
.danpin .neikuan .bottom .list:nth-child(4){
	border-top-color: #e53935;
}
.danpin .neikuan .bottom .list img{
	display: block;
	margin: 40px auto 0 auto;
	width: 160px;
	height: 160px;
}
.danpin .neikuan .bottom .list .name{
	width: 100%;
	color: #212121;
	font-size: 16px;
	text-align: center;
	margin-top: 28px;
}
.danpin .neikuan .bottom .list .desc{
	width: 100%;
	color: #b0b0b0;
	font-size: 12px;
	text-align: center;
	margin-top: 4px;
}
.danpin .neikuan .bottom .list .pri{
	width: 100%;
	color: #ff6709;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.main{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #f5f5f5;
}
.main .neikuan .jiadian{
	width: 100%;
	height: 653px;
}
.main .neikuan .jiadian .top{
	width: 100%;
	height: 32px;
	margin-top: 76px;
}
.main .neikuan .jiadian .top .left{
	width: 100px;
	height: 100%;
	float: left;
	font-size: 22px;
	color: #333;
}
.main .neikuan .jiadian .top .right{
	width: 325px;
	height: 100%;
	float: right;
}
.main .neikuan .jiadian .top .right a{
	margin-left: 33px;
	color: #333;
	font-size: 16px;
	float: right;
	line-height: 32px;
}
.main .neikuan .jiadian .top .right a:hover{
	color: #ff6700;
	/* text-decoration: underline; */
	border-bottom: 2px solid #ff6700;
}
.main .neikuan .jiadian .bottom{
	width: 100%;
	height: 621px;
	margin-top: 10px;
}
.main .neikuan .jiadian .bottom .list{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	transition: 1.5s all;
	overflow: hidden;
}
.main .neikuan .jiadian .bottom .list .bottoma{
	width: 100%;
	height:72px;
	background: #ff6700;
	margin-top: 63px;
	padding-top: 6px;
	transition: 1s;
}
.main .neikuan .jiadian .bottom .list .bottoma .t1{
	color: #fff;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 12px;
}
.main .neikuan .jiadian .bottom .list{
	width: 234px;
	height: 300px;
	background: #fff;
	margin-right: 14px;
	margin-bottom: 14px;
	float: left;
}
.main .neikuan .jiadian .bottom .list:hover .bottoma{
	/* margin-top: 23px; */
	transform: translateY(-90px);
}
.main .neikuan .jiadian .bottom .list:hover{
	box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
	transform: translateY(2px);
}
.main .neikuan .jiadian .bottom .list:nth-child(5){
	margin-right: 0;
}
.main .neikuan .jiadian .bottom .list:nth-child(9){
	margin-right: 0;
	height: 143px;
}
.main .neikuan .jiadian .bottom .list:nth-child(10){
	margin-right: 0;
	height: 143px;
}
.main .neikuan .jiadian .bottom .list:nth-child(1){
	width: 234px;
	height: 614px;
}
.main .neikuan .jiadian .bottom .list1 img{
	display: block;
	margin: 30px auto 0 auto;
	width: 150px;
	height: 150px; 
}
.main .neikuan .jiadian .bottom .list .name{
	width: 100%;
	color: #212121;
	font-size: 14px;
	text-align: center;
	margin-top: 14px;
}
.main .neikuan .jiadian .bottom .list .desc{
	width: 100%;
	color: #b0b0b0;
	font-size: 12px;
	text-align: center;
	margin-top: 4px;
}
.main .neikuan .jiadian .bottom .list .pri{
	width: 100%;
	color: #ff6709;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.main .neikuan .jiadian .bottom .list .you img{
	width: 80px;
	height: 80px; 

}
.main .neikuan .jiadian .bottom .list1 .huaxian{
	color: #b0b0b0;
}
.main .neikuan .jiadian .bottom .list .zuo{
	width: 100px;
	height: 20px;
	color: #212121;
	font-size: 16px;
	line-height: 20px;
	margin: 50px auto 0 auto;
	float: left;
	padding-left: 28px;
}
.main .neikuan .jiadian .bottom .list .zuo .price{
	font-size: 12px;
	color: #ff6700;
}
.main .neikuan .jiadian .bottom .list .zuo .name2{
	font-size: 20px;
}
.main .neikuan .jiadian .bottom .list .zuo .hot{
	font-size: 12px;
	color: #757575;
}
.main .neikuan .jiadian .bottom .list .you{
	width: 100px;
	height: 80px;
	margin: 35px auto 0 auto;
	float: right;
}
.main .neikuan .zhineng{
	width: 100%;
	height: 670px;
}
.main .neikuan .zhineng .top{
	width: 100%;
	height: 32px;
	margin-top: 76px;
}
.main .neikuan .zhineng .top .left{
	width: 100px;
	height: 100%;
	/* background: green; */
	float: left;
	font-size: 20px;
}
.main .neikuan .zhineng .top .right{
	width: 296px;
	height: 100%;
	/* background: green; */
	float: right;
}
.main .neikuan .zhineng .top .right a{
	margin-right: 30px;
	float: left;
	font-size: 16px;
	color: #333;
	line-height: 56px;
}
.main .neikuan .zhineng .top .right a:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.main .neikuan .zhineng .top .right a:nth-child(5){
	margin-right: 0px;
}
.main .neikuan .zhineng .bottom{
	width: 100%;
	height: 614px;
	margin-top: 30px;
}
.main .neikuan .zhineng .bottom .list{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	transition: 1.5s all;
	overflow: hidden;
}
.main .neikuan .zhineng .bottom .list .bottoma{
	width: 100%;
	height:72px;
	background: #ff6700;
	margin-top: 34px;
	padding-top: 6px;
	transition: 1s;
}
.main .neikuan .zhineng .bottom .list .bottoma .t1{
	color: #fff;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 12px;
}
.main .neikuan .zhineng .bottom .list:hover .bottoma{
	/* margin-top: 23px; */
	transform: translateY(-90px);
}
.main .neikuan .zhineng .bottom .list:hover{
	box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
	transform: translateY(2px);
}
.main .neikuan .zhineng .bottom .list:nth-child(1){
	background-image: url('img/zhineng1.jpg');
	background-position:center;
	background-size: cover;
}
.main .neikuan .zhineng .bottom .list:nth-child(6){
	background-image: url('img/zhineng6.jpg');
	background-position:center;
	background-size: cover;
}
.main .neikuan .zhineng .bottom .list:nth-child(5){
	margin-right: 0;
}
.main .neikuan .zhineng .bottom .list:nth-child(10){
	margin-right: 0;
	height: 143px;
}
.main .neikuan .zhineng .bottom .list:nth-child(11){
	margin-right: 0;
	height: 143px;
}
.main .neikuan .zhineng .bottom .list img{
	display: block;
	margin: 30px auto 0 auto;
	width: 160px;
	height: 160px;
}
.main .neikuan .zhineng .bottom .list .name{
	width: 100%;
	color: #212121;
	font-size: 16px;
	text-align: center;
	margin-top: 15px;
}
.main .neikuan .zhineng .bottom .list .des{
	width: 100%;
	color: #b0b0b0;
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
}
.main .neikuan .zhineng .bottom .list .pri{
	width: 100%;
	color: #ff6709;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.main .neikuan .zhineng .bottom .list .left{
	width: 100px;
	height: 20px;
	color: #212121;
	font-size: 16px;
	line-height: 20px;
	margin: 50px auto 0 auto;
	float: left;
	padding-left: 28px;
}
.main .neikuan .zhineng .bottom .list .left .price{
	font-size: 12px;
	color: #ff6700;
}
.main .neikuan .zhineng .bottom .list .left .name2{
	font-size: 20px;
}
.main .neikuan .zhineng .bottom .list .left .hot{
	font-size: 12px;
	color: #757575;
}
.main .neikuan .zhineng .bottom .list .right{
	width: 100px;
	height: 80px;
	margin: 35px auto 0 auto;
	float: right;
}
.main .neikuan .zhineng .bottom .list .right img{
	width: 80px;
	height: 80px;
	margin: 0;
}
.main .neikuan .peijian{
	width: 100%;
	height: 670px;
}
.main .neikuan .peijian .top{
	width: 100%;
	height: 56px;
	margin-top: 33px;
}
.main .neikuan .peijian .top .left{
	width: 100px;
	height: 100%;
	/* background: green; */
	float: left;
	font-size: 20px;
}
.main .neikuan .peijian .top .right{
	width: 266px;
	height: 100%;
	/* background: green; */
	float: right;
}
.main .neikuan .peijian .top .right a:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.main .neikuan .peijian .top .right a{
	margin-right: 30px;
	float: left;
	font-size: 16px;
	color: #333;
	line-height: 56px;
}
.main .neikuan .peijian .top .right a:nth-child(4){
	margin-right: 0px;
}
.main .neikuan .peijian .x{
	width: 100%;
	height: 614px;
}
.main .neikuan .peijian .x .list{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	transition: 1.5s all;
	overflow: hidden;
}
.main .neikuan .peijian .x .list .bottoma{
	width: 100%;
	height:72px;
	background: #ff6700;
	margin-top: 34px;
	padding-top: 6px;
	transition: 1s;
}
.main .neikuan .peijian .x .list .bottoma .t1{
	color: #fff;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 12px;
}
.main .neikuan .peijian .x .list:hover .bottoma{
	/* margin-top: 23px; */
	transform: translateY(-90px);
}
.main .neikuan .peijian .x .list:hover{
	box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
	transform: translateY(2px);
}
.main .neikuan .peijian .x .list:nth-child(1){
	background-image: url('img/p1.jpg');
	background-position:center;
	background-size: cover;
}
.main .neikuan .peijian .x .list:nth-child(6){
	background-image: url('img/p2.jpg');
	background-position:center;
	background-size: cover;
}
.main .neikuan .peijian .x .list:nth-child(5){
	margin-right: 0;
}
.main .neikuan .peijian .x .list:nth-child(10){
	margin-right: 0;
	height: 143px;
}
.main .neikuan .peijian .x .list:nth-child(11){
	margin-right: 0;
	height: 143px;
}
.main .neikuan .peijian .x .list img{
	display: block;
	margin: 30px auto 0 auto;
	width: 160px;
	height: 160px;
}
.main .neikuan .peijian .x .list .name{
	width: 100%;
	color: #212121;
	font-size: 16px;
	text-align: center;
	margin-top: 15px;
}
.main .neikuan .peijian .x .list .com{
	width: 100%;
	color: #b0b0b0;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}
.main .neikuan .peijian .x .list .pri{
	width: 100%;
	color: #ff6709;
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
}
.main .neikuan .peijian .x .list .left{
	width: 100px;
	height: 20px;
	color: #212121;
	font-size: 16px;
	line-height: 20px;
	margin: 50px auto 0 auto;
	float: left;
	padding-left: 28px;
}
.main .neikuan .peijian .x .list .left .price{
	font-size: 12px;
	color: #ff6700;
}
.main .neikuan .peijian .x .list .left .name2{
	font-size: 20px;
}
.main .neikuan .peijian .x .list .left .hot{
	font-size: 12px;
	color: #757575;
}
.main .neikuan .peijian .x .list .right{
	width: 100px;
	height: 80px;
	margin: 35px auto 0 auto;
	float: right;
}
.main .neikuan .peijian .x .list .right img{
	width: 80px;
	height: 80px;
	margin: 0;
}
.main .neikuan .reping{
	width: 100%;
	height: 474px;
	margin-top: 33px;
}
.main .neikuan .reping .top{
	width: 100%;
	height: 59px;
	font-size: 20px;
	color: #333;
	line-height: 59px;
}
.main .neikuan .reping .bottom{
	width: 100%;
	height: 415px;
}
.main .neikuan .reping .bottom .model{
	width: 296px;
	height: 100%;
	background: #fff;
	margin-right: 14px;
	float: left;
}
.main .neikuan .reping .bottom .model:hover{
	box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
	transform: translateY(2px);
}
.main .neikuan .reping .bottom .model:nth-child(4){
	margin-right: 0;
}
.main .neikuan .reping .bottom .model .pp img{
	width: 296px;
	height: 220px;
}
.main .neikuan .reping .bottom .model p{
	width: 240px;
	height: 90px;
	margin-top: 30px;
	padding-right: 28px;
	padding-left: 28px;
	font-size: 14px;
	color: #7b7b7b;
}
.main .neikuan .reping .bottom .model .pingjia{
	margin-top: 5px;
	padding-right: 28px;
	padding-left: 28px;
	font-size: 12px;
	color: #b8b8b8;
}
.main .neikuan .reping .bottom .model .uu{
	margin-top: 10px;
	padding-right: 28px;
	padding-left: 28px;
	font-size: 16px;
	color: #4b4b4b;
}
.main .neikuan .reping .bottom .model .uu .uu1{
	color: #e1e1e1;
}
.main .neikuan .reping .bottom .model .uu .uu2{
	color: #ff7d25;
	font-size: 14px;
}
.main .neikuan .neirong{
	width: 100%;
	height: 474px;
	margin-top: 33px; 
}
.main .neikuan .neirong .tou{
	width: 100%;
	height: 59px;
	font-size: 20px;
	color: #333;
	line-height: 59px;
}
.main .neikuan .neirong .di{
	width: 100%;
	height: 415px;
}
.main .neikuan .neirong .di .m{
	width: 296px;
	height: 100%;
	background: #fff;
	margin-right: 14px;
	float: left;
	position: relative;
}
.main .neikuan .neirong .di .m:hover{
	box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
	transform: translateY(2px);
}
.main .neikuan .neirong .di .m:nth-child(4){
	margin-right: 0;
	border-top: 1px solid #2196f3;
}
.main .neikuan .neirong .di .m:nth-child(1){
	border-top: 1px solid #ffac13;
}
.main .neikuan .neirong .di .m:nth-child(2){
	border-top: 1px solid #bcdca1;
}
.main .neikuan .neirong .di .m:nth-child(3){
	border-top: 1px solid #e53935;
}
.main .neikuan .neirong .di .m .box1{
	width: 100%;
	font-size: 14px;
	color: #ffac13;
	text-align: center;
	margin-top: 38px;
}
.main .neikuan .neirong .di .m .c1{
	color: #bcdca1;
}
.main .neikuan .neirong .di .m .c2{
	color: #e53935;
}
.main .neikuan .neirong .di .m .c3{
	color: #2196f3;
}
.main .neikuan .neirong .di .m .box2{
	width: 100%;
	font-size: 20px;
	color: #333;
	text-align: center;
	margin-top: 20px;
}
.main .neikuan .neirong .di .m .box3{
	width: 196px;
	font-size: 12px;
	color: #b5b5b5;
	text-align: center;
	margin-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
}
.main .neikuan .neirong .di .m .box4{
	width: 100%;
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-top: 15px;
}
.main .neikuan .neirong .di .m .box5{
	width: 100%;
	margin-top: 20px;
}
.main .neikuan .neirong .di .m .box5 img{
	width: 216px;
	height: 154px;
	margin: 0 auto;
	display: block;
}
.main .neikuan .neirong .di .m .box6{
	width: 100%;
	height: 10px;
	margin-top: 20px;
}
.main .neikuan .neirong .di .m .box6 .dot{
	width: 6px;
	height: 6px;
	margin-top: 5px;
	border-radius: 50%;
	margin-right: 28px;
	float: left;
	background: #b0b0b0;
}
.main .neikuan .neirong .di .m .box6 .dot1{
	border: 2px solid #ff7e27;
	background: #fff;
	margin-left: 105px;
}
.main .neikuan .neirong .di .m3 .box5{
	margin-top: 70px;
}
.main .neirong .di .zuo{
	width: 20px;
	height: 48px;
	background: #e0e0e0;
	text-align: center;
	line-height: 48px;
	color: white;
	position: absolute;
	top: 191px;
	left: 0;
	display: none;
	transition: 0.5s;
}
.main .neirong .di .you{
	width: 20px;
	height: 48px;
	background: #e0e0e0;
	text-align: center;
	line-height: 48px;
	color: white;
	position: absolute;
	top: 191px;
	right: 0;
	display: none;
	transition: 0.5s;
}
.main .neikuan .neirong .di .m:hover .zuo{
	display: block;
}
.main .neikuan .neirong .di .m:hover .you{
	display: block;
}
.main .shipin{
	width: 100%;
	height: 341px;
	margin-bottom: 60px;
}
.main .shipin .shou{
	width: 100%;
	height: 56px;
	margin-top: 33px;
}
.main .shipin .shou .l{
	width: 50px;
	height: 100%;
	font-size: 20px;
	color: #333;
	float: left;
}
.main .shipin .shou .r{
	width: 92px;
	height: 100%;
	font-size: 16px;
	color: #333;
	float: right;
	line-height: 56px;
}
.main .shipin .shou .r i{
	font-size: 20px;
}
.main .shipin .wei{
	width: 100%;
	height: 285px;
}
.main .shipin .wei .b:hover{
	box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
	transform: translateY(2px);
}
.main .shipin .wei .b .yj:hover .icon-bofangjian{
	color: #E86A0B;
}
.main .shipin .wei .b{
	width: 296px;
	height: 285px;
	background: #fff;
	margin-right: 14px;
	float: left;
	position: relative;
}
.main .shipin .wei .b:nth-child(4){
	margin-right: 0px;
}
.main .neikuan .shipin .wei .b .bj img{
	width: 296px;
	height: 180px;
}
.main .neikuan .shipin .wei .b .yk{
	width: 100%;
	font-size: 16px;
	color: #333;
	text-align: center;
	margin-top: 30px;
}
.main .neikuan .shipin .wei .b .lj{
	width: 100%;
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	margin-top: 10px;
}
.main .neikuan .shipin .wei .b .yj{
	width: 36px;
	height: 24px;
	background: #000;
	border: 1px solid #fff;
	border-radius: 15px;
	position: absolute;
	left: 22px;
	top: 145px;
}
.main .neikuan .shipin .wei .b .yj i{
	float: left;
	margin-top: 6px;
	margin-left: 13px;
	font-size: 12px;
	color: white;
}
footer{
	width: 100%;
	height: 272px;
}
footer .neikuan .top{
	width: 100%;
	height: 81px;
	border-bottom: 1px solid #e0e0e0;
}
footer .neikuan .top .list{
	width: 244px;
	height: 26px;
	float: left;
	border-right: 1px solid #e0e0e0;
	font-size: 16px;
	color: #616161;
	text-align: center;
	line-height: 26px;
	margin-top: 27px;
}
footer .neikuan .top .listi{
	font-size: 22px;
}
footer .neikuan .top .list:nth-child(5){
	border-right: 0;
}
footer .neikuan .content{
	width: 100%;
	height: 191px;
	overflow: hidden;
}
footer .neikuan .content .left{
	width: 979px;
	height: 131px;
	border-right: 1px solid #e0e0e0;
	float: left;
	margin-top: 40px;
}
footer .neikuan .content .right{
	width: 246px;
	height: 100%;
	float: left;
	margin-top: 40px;
}
footer .neikuan .content .right .kefu i{
	display: inline-block;
	float: left;
	margin-left: 8px;
	font-size: 14px;
}
footer .neikuan .content .left dl{
	width: 161px;
	height: 113px;
	float: left;
}
footer .neikuan .content .left dl dt{
	color: #333;
	font-size: 14px;
	margin-bottom: 30px;
}
footer .neikuan .content .left dl dd{
	color: #333;
	font-size: 12px;
	margin-bottom: 17px;
}
footer .neikuan .content .left dl dd:nth-child(4){
	margin-bottom: 0;
}
footer .neikuan .content .right .tel{
	font-size: 22px;
	color: #ff6700;
	text-align: center;
}
footer .neikuan .content .right .worktime{
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
}
footer .neikuan .content .right .detail{
	font-size: 12px;
	text-align: center;
}
footer .neikuan .content .right .kefu{
	width: 118px;
	height: 28px;
	border: 1px solid #ff6700;
	margin: 18px auto auto auto;
	font-size: 12px;
	color: #ff6700;
	text-align: center;
	line-height: 28px;
}
.di{
	width: 100%;
	height: 166px;
	background: #f5f5f5;
}
.di .neikuan .top1{
	width: 100%;
	height: 87px;
}
.di .neikuan .top1 .left img{
	width: 57px;
	height: 57px;
	margin-top: 30px;
	float: left;
}
.di .neikuan .top1 .middle{
	width: 581px;
	height: 54px;
	float: left;
	margin-top: 30px;
	margin-left: 8px;
}
.di .neikuan .top1 .middle .shang{
	font-size: 12px;
	color: #757575;
}
.di .neikuan .top1 .middle .zhong{
	font-size: 12px;
	color: #b0b0b0;
}
.di .neikuan .top1 .middle .xia{
	font-size: 12px;
	color: #b0b0b0;
}
.di .neikuan .top1 .right{
	width: 442px;
	height: 28px;
	float: right;
	margin-top: 30px;
}
.di .neikuan .top1 .right img{
	width: 84px;
	height: 28px;
}
.di .neikuan .bottom img{
	width: 270px;
	height: 21px;
	margin: 40px 480px 0 480px;
}